
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="menu"  mode="side" opened="true" disableClose="true">
		<div class="shape-container">
			<div class="shape-column">
				<div #shapes class="shape" (mousedown)="selectShape($event,'rectangle')" draggable="true">
					<img src="assets/images/shapes/003-rectangular-shape-outline.png" alt="">
				</div>
				<div #shapes class="shape" (mousedown)="selectShape($event,'diamond')" draggable="true">
					<img src="assets/images/shapes/diamond.png" alt="">
				</div>
			</div>
			<div class="shape-column">
				<div #shapes class="shape" (mousedown)="selectShape($event,'round-rectangle')" draggable="true">
					<img src="assets/images/shapes/002-rounded-rectangle.png" alt="">
				</div>
			</div>
			<div class="shape-column">
				<div #shapes class="shape" (mousedown)="selectShape($event,'circle')" draggable="true">
					<img src="assets/images/shapes/001-circle.png" alt="">
				</div>
			</div>
		</div>
		<div class="shape" (click)="repaint()">Restore</div>
		<div class="shape" (click)="clearCanvas()" draggable="true">Clear</div>

	</mat-drawer>
  <mat-drawer-content>
		<canvas 
			#canvas width="800"
			height="600">
		</canvas>
    <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
  </mat-drawer-content>
</mat-drawer-container>

