<!-- <mat-toolbar>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
	<mat-icon>menu</mat-icon>
</button>
<span>My App</span>
<span class="example-spacer"></span>
<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
	<mat-icon>favorite</mat-icon>
</button>
<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
	<mat-icon>share</mat-icon>
</button>
</mat-toolbar> -->

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="menu" mode="side" opened="true" disableClose="true">
		<div #shapes class="shape" (mousedown)="selectShape($event,'rectangle')" draggable="true">Rectangle</div>
		<div #shapes class="shape" (mousedown)="selectShape($event,'circle')" draggable="true">Circle</div>
		<div class="shape" (click)="repaint()">Restore</div>
		<div class="shape" (click)="clearCanvas()" draggable="true">Clear</div>

	</mat-drawer>
  <mat-drawer-content>
		<canvas 
			#canvas width="800"
			height="600">
		</canvas>
    <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
  </mat-drawer-content>
</mat-drawer-container>

